<ion-content class="login-page">

  <section class="login-container">

    <div class="brand">
      <div class="brand-icon">
        <ion-icon name="earth-outline"></ion-icon>
      </div>

      <h1>WorldVisit</h1>
      <p>Inicia sesión para continuar tu aventura.</p>

    </div>
    <form class="login-form">

      <ion-item class="input-item" lines="none">
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-input type="email" placeholder="Correo electrónico">
        </ion-input>
      </ion-item>

      <ion-item class="input-item" lines="none">
        <ion-icon name="lock-closed" slot="start"></ion-icon>
        <ion-input type="password" placeholder="Contraseña">
        </ion-input>

        <ion-icon name="eye-off-outline" slot="end"></ion-icon>
      </ion-item>

      <button class="forgot-password" type="button">
        ¿Olvidaste tu contraseña?
      </button>

      <ion-button expand="block" type="submit" class="login-button">
        Iniciar sesión
      </ion-button>
    </form>

    <p class="register-text">
      ¿No tienes una cuenta?
      <button type="button" class="register-link">Crear una cuenta</button>
    </p>

  </section>

</ion-content>